@model PeopleSearchSite.Models.Person

@{
    Layout = "_Layout";
}

<h2>Добавить человека</h2>

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div>
        <label>Фамилия:</label>
        <input asp-for="LastName" />
    </div>

    <div>
        <label>Имя:</label>
        <input asp-for="FirstName" />
    </div>

    <div>
        <label>Отчество:</label>
        <input asp-for="MiddleName" />
    </div>

    <div>
        <label>Дата рождения:</label>
        <input asp-for="BirthDate" type="date" />
    </div>

    <div>
        <label>Фото:</label>
        <input type="file" name="photo" />
    </div>

    <button type="submit">Сохранить</button>
</form>
